body {
	text-align: center;
	background-color: #e9ece5;
	margin: 0;
	padding: 0;
	font-family: 'Patrick Hand SC', cursive;
}

div	{
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 75px;
	margin-bottom: 75px;
	display: block;
}

header {
	border: solid  #b3c2bf;
	background-color:  #b3c2bf;
	color: white;
	font-family: 'Patrick Hand SC', cursive;
	
}

section {
	border: solid  #c0dfd9;
	background-color:  #c0dfd9;
	padding: 20px;
	margin-top: 35px;
}
footer {
	border: solid  #b3c2bf;
	background-color:  #b3c2bf;
	color: white;
	padding: 25px;
	margin: 0px;
}


img {
	padding-top: 35px;
}