<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="singleStyles.css"></link>
<title></title>
</head>
<body>
	<header th:each="Reviews: ${singleReview}">
		<h1 th:text="${Reviews.getTitle()}"></h1>
	</header>



	<div th:each="Reviews: ${singleReview}">
		<img th:src="${Reviews.getSingleImage()}" />
	</div>

	<div th:each="Reviews: ${singleReview}">
		<p th:text="${Reviews.getDescription()}"></p>
		<p th:text="${Reviews.getDescription()}"></p>
		<p th:text="${Reviews.getDescription()}"></p>
	</div>


	<section></section>
	<footer>Copyright Summer Saleh 2017</footer>
</body>
</html>