<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="styles.css"></link>

	<title>Travel Reviews</title>
</head>
<body>
<header>
	<h1>TRAVEL REVIEWS</h1>
</header>

	
	<div th:each="Reviews: ${travelAsCollection}">
		<h1><a th:href="@{/singleReview(id=${Reviews.getId()})}" th:text="${Reviews.getTitle()}"></a></h1>
		<p th:text="${Reviews.content}"> </p>
		<img th:src="${Reviews.imageURL}"/>
	</div>
	<section>
	</section>
	<footer>Copyright Summer Saleh 2017</footer>
</body>
</html>
